azure/pipeline/copy_all_tables.json
{
	"name": "copy_all_tables",
	"properties": {
		"activities": [
			{
				"name": "Look for all tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT \ns.name AS schemaname,\nt.name AS tablename\nFROM SYS.tables t\nINNER JOIN sys.schemas s\nON t.schema_id = s.schema_id\nWHERE s.name = 'SalesLT'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sqldbtables",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Foreach schema table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Look for all tables",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Look for all tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy each table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@{concat('SELECT * FROM ', item().SchemaName, '.', item().TableName)}\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServercopy",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ParquetTable",
									"type": "DatasetReference",
									"parameters": {
										"schemaname": {
											"value": "item().schemaname",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().tablename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "bronze to silver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Foreach schema table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/fernandolv1324@gmail.com/bronze to silver"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "silver to gold",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "bronze to silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/fernandolv1324@gmail.com/silver to gold"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-04-09T09:51:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}